body {
  margin: 0;
  font-family: monospace;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

.ui {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: white;
  width: 70px;
  background: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  color: white;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-filter: drop-shadow(4px 4px 4px #222);
  filter: drop-shadow(4px 4px 4px #222);
}

#legend {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute; 
  z-index: 1; 
  left: 0%; 
  bottom: 0; 
  width:60%; 
  height: 20%;
  margin-left: 20%;
  margin-right: 20%;
  background: rgba(225, 225, 225, 0); 
  opacity: 0.9; 
  padding: 5px 10px 5px 10px; 
  overflow:auto; 
  display: flex;
}

.legend {
  user-select: none;
  position: absolute; 
  z-index: 1; 
  bottom: 0; 
  width:75%; 
  height:30%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(225, 225, 225, 0); 
  opacity: 0.9; 
  padding: 5px 10px 10px 10px; 
  overflow:auto; 
  display: flex;
}

.controls {
  width: 70%;
}

.controls2 {
  margin: auto;
}

.sliderboard {
  margin-left: 10%;
}

.slidername {
  display: flex;
}