body {
  margin: 0;
  font-family: monospace;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

.ui {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: white;
  width: 70px;
  background: none;
  /*border: solid black 3px;
    border-radius: 10px;
    color: black;
    padding: 15px 30px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  transition: 0.6s;
}

.btn:hover {
  color: white;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-filter: drop-shadow(10px 10px 10px #222);
  filter: drop-shadow(10px 10px 10px #222);
}
